header{background-color:#42431B;
color:#f8f3e1;
padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .logo{display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;}

header img{width: 2.3cm;}    

header h1{
  font-family: "Bodoni Moda SC", serif;
color: #f8f3e1;
text-decoration: none;}

header>div>a{text-decoration: none;}

header h1:hover{color: #d2d8b3;
text-decoration: underline;}

nav>a{color: #f8f3e1;
margin: 0 .4rem;
text-decoration: none;}

nav>a:hover{color: #d2d8b3;
text-decoration: underline;}

footer{background-color: #42431B;
color:#f8f3e1;
padding: 1rem 5rem;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: baseline;}

footer h3{font-family: "Bodoni Moda SC", serif;}

footer a{color: #f8f3e1;
margin: .2rem;
text-decoration: none;}

footer a:hover{color: #d2d8b3;
text-decoration: underline;}

main{background-color: #f8f3e1;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

section{ padding:.5rem 5rem;}

/* home page */

.hello{background-color: #f8f3e1;}

.hello{justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 4rem;}

    .profile-pic{max-width: 35%;
    border-radius: 5%;
    border-color: #42431B;
    border: 2px solid;
    }

.my-dog{background-color: #e4dbbc;}

.my-dog{display: flex;
justify-content: space-between;
align-items: center;
gap: 4rem;}

.my-dog img{max-width: 35%;
border-radius: 5%;
    border-color: #42431B;
    border: 2px solid;}

.things-gallery{display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;}

.things-gallery img{max-width: 22%;
border-radius: 5%;
    border-color: #42431B;
    border: 2px solid;}  

.hello, .my-dog, .things{padding: 3rem 5rem;}
    
/* education page */

.education{background-color: #E4DBBC;}
.education-intro{text-align: center;}

.prws{background-color: #D2D8B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;}

 .prws img{max-width: 30%;
    }

.colleges{background-color: #F8F3E1;}

.colleges{display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;}

    .joy-on-field{max-width: 35%;
    border-radius: 5%;
    border-color: #42431B;
    border: 2px solid;} 

/*work page*/

.work{background-color: #F8F3E1;}

.work a{color: #84853a;}

.work a:hover{text-decoration: underline;
color: #444519;}

.work-intro{text-align: center;}

.missy{background-color: #F8F3E1;}

.YMCA{background-color: #E4DBBC;}

.blfac{background-color: #E4DBBC;}

.internship{background-color: #E4DBBC;}

/* gallery page */

.projects-gallery img{width: 5cm; height: 5cm; object-fit: cover;
border-radius: 5%;
    border-color: #42431B;
    border: 2px solid;}
.projects-gallery figure{margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;}
    
.projects-gallery{display: flex;
flex-wrap: wrap;
justify-content: center;
padding-bottom: 2rem;
margin: 0rem 4rem;
}

.projects-gallery a{text-align: center;
    text-decoration: none;
    color: #42431B;}

    .projects-gallery a:hover{text-decoration: underline;
    color: #76772c;}

/* contact page */

.contact-main{display: flex;
justify-content: space-evenly;
align-items: center;
padding-bottom: 3rem;
padding-top: 3rem;}

.form{background-color: #d2d8b3;
margin: 2rem;
border-radius: 1rem;
max-width: 40%;
padding: 1rem 2rem;
border-color: #42431B;
border: 1px solid;
}

input, textarea{
padding: .5rem;
margin: .5rem 0;
border: 1px solid #42431B;
border-radius: .4rem;
}

input[type="submit"]{
background-color: #f8f3e1;
color: #42431B;
border: 1px solid #42431B
}

input[type="submit"]:hover{
background-color: #42431B;
color: #f8f3e1;
border: 1px solid #42431B;
cursor: pointer;}

.form h3, .form p{color: #42431B;
}

.my-contact a:hover{color: #93987a;}

main{background-color: #f8f3e1;
color: #42431B;}

main h3, main h2, main a{color: #353515;}

@media (max-width: 895px) {
    header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;}
    nav{margin-left: 6rem}

    .logo{display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;}}

@media (max-width: 500px) {
    header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
    nav{margin-left: 0;}

    .logo{display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;}

    .hello{justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;}
    .profile-pic{max-width: 80%;}

.my-dog{justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;}
    .my-dog img{max-width: 80%;}

.things-gallery img{max-width: 80%;}

.prws{flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;}
 .prws img{max-width: 100%;}

 .colleges{display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;}

    .joy-on-field{max-width: 80%;}

.contact-main{display: flex;
    flex-direction: column;
justify-content: space-evenly;
align-items: center;
padding-bottom: 3rem;
padding-top: 3rem;}
}

