header{background-color:#42431B;
color:#f8f3e1;}
nav>a{color: #f8f3e1;}

main{background-color: #f8f3e1;}

footer{background-color: #42431B;
color:#f8f3e1;}
footer a{color: #f8f3e1;}

.my-dog{background-color: #e4dbbc;}

.things{background-color: #d2d8b3;}
